 <!-- <table>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Person</th>
          <th>Hours</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      
          
        <tr>
          <form [formGroup]="form">
              <div formArrayName="fields">
                  <tr *ngFor="let field of fields.controls; let i = index;">
                      <td [formGroupName]="i">
                          <tr>
                              <td>    
                              <mat-form-field appearance="fill" style="display:none" class="margin-left-right-10">
                                  <mat-label>id</mat-label>
                                  <input matInput formControlName="id" [disabled]="field.get('id').disabled">
                              </mat-form-field>
                              </td>
                              <td>
                                  <mat-form-field appearance="fill" class="margin-left-right-10">
                                      <mat-label>Date</mat-label>
                                      <input matInput id="form_date_{{i}}" formControlName="date" [disabled]="field.get('date').disabled" [matDatepicker]="picker1">
                                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                      <mat-datepicker #picker1></mat-datepicker>
                                      <mat-error *ngIf="field.controls['date'].invalid">Date is required</mat-error>
                                    </mat-form-field>
                              </td>
                              <td>
                                  <mat-form-field appearance="fill" class="margin-left-right-10">
                                      <mat-label>Responsible Person</mat-label>
                                      <mat-select formControlName="responsiblePerson" [disabled]="field.get('responsiblePerson').disabled" required>
                                        <mat-option *ngFor="let employeesName of employees" #responsibleId [value]="employeesName.id">{{employeesName.firstName}} {{employeesName.lastName}}</mat-option>
                                      </mat-select>
                                      <mat-error *ngIf="field.controls['responsiblePerson'].invalid">Responsible Person is required</mat-error>
                                    </mat-form-field>
                              </td>
                              <td>
                                  <mat-form-field appearance="fill" class="margin-left-right-10">
                                      <mat-label>Hours</mat-label>
                                      <input matInput formControlName="hours" [disabled]="field.get('hours').disabled">
                                      <mat-error *ngIf="field.controls['hours'].invalid">Hours are required</mat-error>
                                    </mat-form-field>
                              </td>
                              <td>
                                  <mat-form-field appearance="fill" class="margin-left-right-10">
                                      <mat-label>Description</mat-label>
                                      <textarea matInput rows="1" formControlName="description" [disabled]="field.get('description').disabled"></textarea>
                                      <mat-error *ngIf="field.controls['description'].invalid">Description is required</mat-error>
                                    </mat-form-field>
                              </td>
                              <td>
                                  <mat-icon matTooltip="Edit" class="edit-icon" svgIcon="basic:pencil-edit" color="primary" [id]="'edit-button-' + i" *ngIf="enableFields" (click)="enableFields(i)"></mat-icon>
                                  <mat-icon matTooltip="Save" class="check-icon" [id]="'save-button-' + i" style="display:none; color:green" *ngIf="enableFields" (click)="saveTimeEntry(i,field)">check</mat-icon>
                                  <mat-icon matTooltip="Cancel" [id]="'cancel-button-' + i" style="display:none; color:gray" *ngIf="enableFields" (click)="disableFields(i)">cancel</mat-icon>
                                  <mat-icon matTooltip="Delete" class="remove-icon" color="danger" [id]="'remove-button-' + i" style="display:none" (click)="removeField(i,field)">delete</mat-icon>
                              </td>
                          </tr>
                      </td>
                  </tr>
              </div>
          </form>
        </tr>
    
      </table> -->